@page
@model FCDBApi.Pages.Settings.SettingsModel

@{
    ViewData["Title"] = "Settings";
}

<h1>Settings</h1>
<ul>
    <li><a asp-page="ManageSites">Manage Sites</a></li>
    <li><a asp-page="UploadDocuments">Upload Documents</a></li>
    <li><a asp-page="ManageDocuments">Manage Documents</a></li>
</ul>
