@page
@model FCDBApi.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to the Main Menu</h1>

<ul>
    <li><a asp-page="/JobCards/Index">Job Cards</a></li>
    <li><a asp-page="/InspectionSheets/Index">Inspection Sheets</a></li>
    <li><a asp-page="/Settings/Settings">Settings</a></li>
</ul>
